<ul>
	{% for c in categories %}
	  <li><a href="{{ path('nils_wisiol_credit_card_cat_detail', {categoryId: c.getId}) }}">{{ c }}</a>
	  	{% if c.getChildren | length > 0 %}
	  		{% include 'NilsWisiolCreditCardBundle:Default:categoriesList.html.twig' with { 'categories': c.getChildren } %}
	  	{% endif %}
	  </li>
	{% endfor %}
</ul>  