{% extends "NilsWisiolCreditCardBundle:Default:index.html.twig" %}

{% block content %}
	<h2>import {{ import }}</h2>
	Imported {{ import.getCreated | date('j.n.y H:i:s') }}
	<a href="{{ path('nils_wisiol_credit_card_import_undo', { 'documentId': import.getId }) }}" data-role="button" class="btn btn-danger">undo import</a>
	{{ parent() }}
{% endblock %}